// Page Sidebar Start
- var status = (sidebar_open ? 'open' : (sidebar_image ? 'native-image-bg' : ''));

.iconsidebar-menu(class=status)

                    div.sidebar
                        ul.iconMenu-bar.custom-scrollbar
                            li
                                a.bar-icons(href='javascript:void(0)')
                                    //img(src='../assets/images/menu/home.png' alt='')
                                    i.pe-7s-home
                                    span Home    
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Quick Start
                                    li
                                        a(href='/api/new')
                                            | Change Password
                                    li.iconbar-header.sub-header Tech Area
                                    li
                                        a(href='general-widget.html')
                                            | Manage SSH Keys
                                    li
                                        a(href='chart-widget.html')
                                            | Setup 2FA

                                    li.iconbar-header.sub-header Help
                                    li
                                        a(href='../starter-kit/index.html')
                                            | Find Useful Resources  
                                            
                                            
                            li
                                a.bar-icons(href='javascript:void(0)')
                                    i.pe-7s-users
                                    span Users
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Global
                                    li
                                        a(href='state-color.html')
                                            | Users
                                    li
                                        a(href='typography.html')
                                            | Groups
                                    li
                                        a(href='buttons.html')
                                            | Roles        
                                            
                                    li.iconbar-header.sub-header Confinement
                                    li
                                        a(href='ionic-icon.html')
                                            | Ionic icon

                            li
                                //span.badge.badge-pill.badge-danger Access
                                a.bar-icons(href='javascript:void(0)')
                                    i.pe-7s-safe
                                    span Access
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Access
                                    li
                                        a(href='animate.html')
                                            | Grant User
                                    li
                                        a(href='scroll-reval.html')
                                            | Grant Groups
                                    li
                                        a(href='AOS.html')
                                            | ACL
                                   
                                                   

// Page Sidebar Ends
